@{
	ViewData["Title"] = "Portfolio";

}

@model LifeChart.Models.PortfolioModel;
<p class="title">Finance Portfolio</p>

<div class="portfolio">
	<form asp-controller="Home" asp-action="EditPortfolio" class="form" method="post">

		<div class="income" id="box">
			<label for="salary-input" asp-for="Income.Salary">Salary</label>
			<input type="text" id="salary-input" asp-for="Income.Salary" />
		
			@for (var i = 0; i < 10; i++)
			{
				<label for="investment-input" class="label">Investment @(i+1)</label>
				if (i < Model.Income.Investments.Count) {
					<input name="InvestmentId" type="hidden" id="investment-input" value="@Model.Income.Investments[i].Id"/>
					<input name="InvestmentAmount" type="number" id="amount-input" value="@Model.Income.Investments[i].Amount"/>
					<input name="RoiAmount" type="number" id="roi-input" value="@Model.Income.Investments[i].RoI"/>
				}
				else {
					<input name="InvestmentId" type="hidden" id="investment-input" value="@(i+1)"/>
					<input name="InvestmentAmount" type="number" id="amount-input"/>
					<input name="RoiAmount" type="number" id="roi-input"/>
				}
			}
			
			
			<label for="others-input" class="label" asp-for="Income.Others">Others</label>
			<input type="text" id="others-input" asp-for="Income.Others" />
		</div>

		<div class="assets" id="box">
			
			@for (var i = 0; i < 5; i++)
			{
				<label for="estate-input" >Real Estate @(i+1)</label>
				if (i < Model.Assets.RealEstates.Count) {
					<input name="EstateId" type="hidden" id="estate-input" value="@Model.Assets.RealEstates[i].Id"/>
					<input name="EstateAmount"type="number" id="amount-input" value="@Model.Assets.RealEstates[i].Amount"/>
				}
				else {
					<input name="EstateId" type="hidden" id="estate-input" value="@(i+1)"/>
					<input name="EstateAmount"type="number" id="amount-input"/>
				}
			}
			
			<label for="account-input" class="label" asp-for="Assets.BankAccount">Bank Account</label>
			<input type="text" id="account-input" asp-for="Assets.BankAccount" />
		</div>

		<div class="debt" id="box">
			<label for="loans-input" asp-for="Debt.Loans">Loans</label>
			<input type="text" id="loans-input" asp-for="Debt.Loans" />
			<label for="balance-input" class="label" asp-for="Debt.CreditCardBalance">CreditCardBalance</label>
			<input type="text" id="balance-input" asp-for="Debt.CreditCardBalance" />
		</div>

		<div class="expense-limit" id="box">
			<label for="groceries-input" asp-for="ExpenseLimit.Groceries">Groceries</label>
			<input type="text" id="groceries-input" asp-for="ExpenseLimit.Groceries" />
			<label for="utilities-input" class="label" asp-for="ExpenseLimit.Utilities">Utilities</label>
			<input type="text" id="utilities-input" asp-for="ExpenseLimit.Utilities" />
			<label for="entertainment-input" class="label" asp-for="ExpenseLimit.Entertainment">Entertainment</label>
			<input type="text" id="entertainment-input" asp-for="ExpenseLimit.Entertainment" />
			<label for="rent-input" class="label" asp-for="ExpenseLimit.Rent">Rent</label>
			<input type="text" id="rent-input" asp-for="ExpenseLimit.Rent" />
			<label for="mortgages-input" class="label" asp-for="ExpenseLimit.Mortgages">Mortgages</label>
			<input type="text" id="mortgages-input" asp-for="ExpenseLimit.Mortgages" />
			<label for="others-input" class="label" asp-for="ExpenseLimit.Others">Others</label>
			<input type="text" id="others-input" asp-for="ExpenseLimit.Others" />
		</div>

		<button type="submit">Save</button>
	</form>

</div>



<style>
	html {
		height: 100vh;
	}

	body {
		background: #03030F;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.portfolio {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.title {
		color: white;
	}

	#box {
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 20px;
		width: 230px;
		height: 350px;
		padding: 20px 10px 20px 10px;
	}

	form {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 10px;
		margin-top: 5vh;
	}

	button {
		width: 30%;
		background-color: white;
		border: none;
		margin-top: 5px;
		height: 30px;
		border-radius: 10px;
	}

	label {
	}

	input {
		border: none;
		border-bottom: 1px solid black;
	}

	footer {
		display: none;
	}
</style>