@{
	ViewData["Title"] = "Portfolio";

}

@model LifeChart.Models.PortfolioModel;
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<p class="title">Finance Portfolio</p>

<div class="portfolio">
	<form asp-controller="Home" asp-action="EditPortfolio" class="form" method="post">
		<div class="four-input">
		<div class="income" id="box">
			<p class="box-header">Income</p>
			<label for="salary-input" asp-for="Income.Salary">Salary </label>
				<input type="text" id="salary-input" placeholder="USD" asp-for="Income.Salary" />
				<label for="others-input" class="label" asp-for="Income.Others">Others </label>
				<input type="text" id="others-input" placeholder="USD" asp-for="Income.Others" />
				@*<button>></button>*@
			
				@{
					for (var i = 0; i < 3; i++)
					{

				<label for="investment-input" class="label">Investment @(i+1)</label>
				@if (i < Model.Income.Investments.Count) {
					<input name="InvestmentId" type="hidden" id="investment-input" value="@Model.Income.Investments[i].Id"/>
					<input name="InvestmentAmount" placeholder="USD"  type="number" id="amount-input" value="@Model.Income.Investments[i].Amount" />
					<input name="RoiAmount" type="number" id="roi-input" placeholder="ROI" value="@Model.Income.Investments[i].RoI" />
				}
				else {
					<input name="InvestmentId" type="hidden" id="investment-input" value="@(i+1)"/>
					<input name="InvestmentAmount" placeholder="USD" type="number" id="amount-input" />
							<input name="RoiAmount" placeholder="ROI (Ex: 0.01)" type="number" id="roi-input" />
				}
			}
			}
			
			
		</div>

		<div class="assets" id="box">
				<p class="box-header">Assets</p>
				<label for="account-input" class="label" asp-for="Assets.BankAccount">Bank Account </label>
				<input type="text" id="account-input" placeholder="USD" asp-for="Assets.BankAccount" />
			@for (var i = 0; i < 5; i++)
			{
				<label for="estate-input" >Real Estate @(i+1) </label>
				if (i < Model.Assets.RealEstates.Count) {
					<input name="EstateId" type="hidden" id="estate-input" value="@Model.Assets.RealEstates[i].Id"/>
						<input placeholder="USD"  name="EstateAmount" type="number" id="amount-input" value="@Model.Assets.RealEstates[i].Amount" />
				}
				else {
					<input name="EstateId" type="hidden" id="estate-input" value="@(i+1)"/>
					<input placeholder="USD" name="EstateAmount"type="number" id="amount-input"/>
				}
			}
			
		
		</div>

		<div class="debt" id="box">
				<p class="box-header">Debt</p>
			<label for="loans-input" asp-for="Debt.Loans">Loans </label>
				<input type="text" placeholder="USD" id="loans-input" asp-for="Debt.Loans" />
			
			<label for="balance-input" class="label" asp-for="Debt.CreditCardBalance">Credit Card Limit </label>
				<input type="text" placeholder="USD" id="balance-input" asp-for="Debt.CreditCardBalance" />
			</div>

		<div class="expense-limit" id="box">
				<p class="box-header">Monthly Expense Limit</p>
				
			<label for="groceries-input" asp-for="ExpenseLimit.Groceries">Groceries </label>
			<input type="text" placeholder="USD" id="groceries-input" class="limitInput" asp-for="ExpenseLimit.Groceries" required />

			<label for="utilities-input" class="label" asp-for="ExpenseLimit.Utilities">Utilities </label>
				<input type="text" placeholder="USD" id="utilities-input" class="limitInput" asp-for="ExpenseLimit.Utilities" required />

			<label for="entertainment-input" class="label" asp-for="ExpenseLimit.Entertainment">Entertainment </label>
				<input type="text" placeholder="USD" id="entertainment-input" class="limitInput" asp-for="ExpenseLimit.Entertainment" required />

			<label for="rent-input" class="label" asp-for="ExpenseLimit.Rent">Rent </label>
				<input type="text" placeholder="USD" id="rent-input" class="limitInput" asp-for="ExpenseLimit.Rent" required />

			<label for="mortgages-input" class="label" asp-for="ExpenseLimit.Mortgages">Mortgages </label>
				<input type="text" placeholder="USD" id="mortgages-input" class="limitInput" asp-for="ExpenseLimit.Mortgages" required/>

			<label for="others-input" class="label" asp-for="ExpenseLimit.Others">Others </label>
				<input type="text" placeholder="USD" id="others1-input" class="limitInput" asp-for="ExpenseLimit.Others" required />
				
		</div>
		</div>
		<button type="submit">Save</button>
	</form>

</div>



<style>
	html {
		height: 100vh;
	}

	body {
		background: #03030F;
	}
	.income{
		
	}
	.container {
		display: flex;
		flex-direction: column;
	}

	.portfolio {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.title {
		color: white;
		font-family: "Outfit";
		font-weight: bold;
		font-size:xx-large;
		margin-bottom:0px;
		margin-top:20px;
	}

	#box {
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 20px;
		width: 230px;
		height: 350px;
		padding: 20px 10px 20px 10px;
	
	}
	.box-header{
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
		font-family: "Outfit";
		font-weight:bold;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.four-input{
		width: 100%;
		display: flex;
		flex-direction:row;
		justify-content: center;
		column-gap: 10px;
		margin-top: 4vh;
	}
	button {
		width: 30%;
		background-color: white;
		border: none;
		margin-top: 15px;
		height: 30px;
		border-radius: 10px;
		font-family: "Outfit";
		font-weight: bold;
		font-size:large;
	}
	button:hover{
		cursor:pointer;
	}
	label {
		margin-bottom:0px;
		font-family: "Outfit";
		font-weight: thin;
	}

	input {
		border: none;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		font-family: "Outfit";
		font-weight: thiner;
	}

	footer {
		display: none;
	}
</style>
<script>
	
		
</script>