@{
}

@model LifeChart.Models.MoneyLoverModel;


<div class="container-inside">
	<h1>Expense Tracker</h1> 

	<div class="expense-table"> 
		
            @*<thead> 
                <tr> 
					<th>Expense Name</th> 
                    <th>Amount</th>
					<th>Estimated Spending</th>
                </tr> 
            </thead> 
			*@
            
				@if (Model != null) {
					@foreach (var item in Model.ThisMonthExpenses)
					{
					
							<label for="file">@item.Key    @item.Value/@Model.ThisMonthLimits[@item.Key]</label> <br />
							<progress id="file" value="@item.Value" max="@Model.ThisMonthLimits[@item.Key]"> </progress><br />
							
							
							@if (item.Key == "groceries") {
								<progress id="file1" value="@Model.GroceriesEstimation" max="@Model.ThisMonthLimits[@item.Key]"> </progress><br />
							}
							else if (item.Key == "entertainment")
							{
								<progress id="file1" value="@Model.EntertainmentEstimation" max="@Model.ThisMonthLimits[@item.Key]"></progress><br />
							}
							else if (item.Key == "utilities") {
								<progress id="file1" value="@Model.UtilitiesEstimation" max="@Model.ThisMonthLimits[@item.Key]"> </progress><br />
							}
							else if (item.Key == "others") {
								<progress id="file1" value="@Model.OthersEstimation" max="@Model.ThisMonthLimits[@item.Key]"></progress><br />
								
							}
						
					}
				}
				@*@foreach (var item in Model.ThisMonthExpenses)
				{
				
					<p>@item.Key @item.Value/@Model.ThisMonthLimits[@item.Key]</p>
				<div class="progress-container">
					<div class="progress-now">
						<div class="estimate">

						</div>
					</div>
					
				</div>
				}*@
			
        
	</div>
</div>


<style>
@* left and right table *@
	.container-inside {
		width: 200px;
        height:400px;
		margin: 0 auto;
		background-color: #f9f9f9;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.expense-table{
		margin-top:-10px;
		width:100%;
	}
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	progress[value]{
		height:10px;
		width:100%;
		
	}
	#file{
		
	}
	#file1{

	}
	.progress-container{
		border-radius:10px;
		height:3px;
		width:100%;
		background:#E6E6E6;
		
	}
	.progress-now{
		border-radius:10px;
		height:3px;
		background-color:#088BEA;
		width:30%;
		
		
	}
	.estimate{
		border-radius:10px;
		height:3px;
		background-color:#088BEA;
		opacity:50%;
		width:150%;
		
	}
</style>
